@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

.container {
    padding: 3rem;
    background: #F2F2F2;
}

.containerHeader {
    font-size: 2.3rem;
    margin-bottom: 2.2rem;
    /* padding: 1.8 2rem; */
}

.slides {
    height: auto;    
    background: #FFFBFB;    
    display: grid;    
    margin-right: 3rem;
    padding: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}



.Imgslides {
    /* padding: 2.3rem; */
}

.slidesContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding-right: 0rem;
}

.slidesContent h3 {
    font-size: 20px;
    font-weight: 500;
}

.productDescription {
    color: #000000;
    opacity: 0.7;
    margin-top: 10px;
    font-size: 14px;
    margin-bottom: 1.2rem;
}

.productPrice {
    display: flex;
}

.price, .size {
    margin-right: 2rem;
    color: #334;
    font-weight: 500;
}

.imgs {
    position: relative;
    text-align: center;
    border: 1px solid #334;
    padding: 4.5rem;
    margin-top: 2.2rem;
}

.imgDetails {
    position: absolute;
    top: 10px;
    left: 90px;
    color: #000;
}

.swiper-button-next, .swiper-button-prev, .swiper-button-disabled {
    right: 10px;
    left: auto;
    background: #334;
    color: #fff;
    font-size: 0rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
 
.productPrice span {
    font-weight: 600;
}

/* Extra small devices (phones, 768px and down) */
@media only screen and (max-width: 968px) {
    .container {
        padding: 2rem;
    }

    .slides {
        display: block;
    }
    
    .slidesContent {        
        width: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: none;
    }

    .slidesContent h3 {
        font-size: 1.2rem;
        font-weight: 400;
    }

    .productDescription{
        color: #000000;
        opacity: 0.7;
        font-size: 13px;
        line-height: 1.7;
        padding-top: 1px;
    }

    .productPrice {
        display: -moz-box;
        display: flex;
        font-size: 14px;
        padding-top: 27px;
        font-weight: 500;
    }

    .slides {        
        margin-right: 0rem;        
    }
}

@media only screen and (max-width: 400px) {
    .productPrice {        
        display: block;
        font-size: 14px;
        padding-top: 27px;
        font-weight: 500;
    }

    .productPrice p {
        padding-bottom: 5px;
    }

    .productPrice span {
        font-weight: 600;
    }

    .containerHeader {
        font-size: 1.8rem;
        text-align: center;
        margin: 2rem 0;
    }
}

@media (min-width: 960px) and (max-width: 1300px) {
    .slidesContent{
        width: auto;
        margin-right: 12px;
    }

    .slidesContent h3 {
        font-size: 1.5rem;
        font-weight: 400;
    }

    .productDescription {        
        font-size: 14px;
        margin-top: 5px;
        margin-bottom: 1.2rem;
    }

    .productPrice{            
        font-size: 14px;
    }
}