.card_container {
  width: 100%;
  height: auto;
  position: relative;
  margin: 40px 0px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.5s ease;
}
.card_container:hover {
  transform: scale(1.02);
}
.card_content {
  background-color: #efefef;
  padding: 43px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  color: var(--dark);
  font-family: 'Poppins', sans-serif;
  z-index: 3;
  animation: myAnim 1s ease 0s 1 normal forwards;
}

@keyframes myAnim {
  0% {
    opacity: 0;
    transform: rotateY(-100deg);
    transform-origin: right;
  }

  100% {
    opacity: 1;
    transform: rotateY(0);
    transform-origin: right;
  }
}

.card_content h3 {
  /* color: var(--dark); */
  font-size: 16px;
  font-weight: 500;
}
.price_box {
  margin: 20px auto;
}
.hidden {
  display: none;
}

.img_container {
  padding: 3.5rem;
}
