.tab_container {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: var(--grey);
}

@media only screen and (max-width: 480px) {
  .tab_container {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 768px) {
  .tab_container {
    grid-template-columns: 1fr;
  }
}

.tab_item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  color: var(--light);
  flex-direction: column;
  transition: all 0.5s ease;
}

.tab_item:hover {
  opacity: 0.7;
}
.active_tab {
  background-color: var(--primary);
}
