.navbar {
  width: 100%;
  min-height: 70px;
  background-color: var(--grey);
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 15vh; */
}

.main_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

.logo_section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.app_bar {
  display: none;
}

.nav_group {
  display: flex;
  list-style-type: none;
  cursor: pointer;
}

.nav_links {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials > div {
  padding: 25px;
  border-right: 1px solid rgb(172, 172, 172);
  height: 100%;
  width: auto;
}

.socials > div:first-child {
  border-left: 1px solid rgb(172, 172, 172);
}
.mobile_cart {
  display: none;
}

@media only screen and (max-width: 480px) {
  .app_bar,
  .mobile_cart {
    display: block;
  }
  .socials,
  .nav_group {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .app_bar,
  .mobile_cart {
    display: block;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .socials,
  .nav_group {
    display: none;
  }
}
