.categories_card {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background: rgba(57, 59, 61, 1);
  margin: 1rem 0;
}

.categories_card .categorycard_first_div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30%;
}

.categories_card h3 {
  color: #ffffff;
}

.categories_card .categorycard_second_div {
  width: 65%;
}
