html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary: #1696f2;
  --secondary: #393b3d;
  --grey: #efefef;
  --dark: #000000;
  --light: #ffffff;
}

.container {
  width: 85%;
  margin: auto;
}
img {
  width: 100%;
}

.category-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.btn {
  padding: 10px 25px;
  font-weight: 500;
  border: none;
}
.btn-primary {
  background-color: var(--primary);
  color: var(--light);
  transition: all 0.5s ease;
}

.btn-primary:hover {
  opacity: 0.8;
}
@media only screen and (max-width: 480px) {
  .category-section {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 768px) {
  .category-section {
    grid-template-columns: 1fr;
  }
}
